<div class="tree-card" data-id="{{this.id}}">
    <img src="{{this.img}}" title="{{this.name}}" onerror="this.src='icons/svg/mystery-man.svg'" />
    <span class="node-name">{{this.name}}</span>
</div>